
{% extends '@bolt/_partials/fields/_base.html.twig' %}

{% block field %}

    {% set parsed_value = value | allinoneaccessibility_decode_json %}
    <link rel="stylesheet" href="{{ asset('assets/allinoneaccessibility/bootstrap.min.css', 'public') }}">
    <link rel="stylesheet" href="{{ asset('assets/allinoneaccessibility/style.css', 'public') }}">
    <script src="{{ asset('assets/allinoneaccessibility/allinoneaccessibility.js', 'public') }}"></script>
    <div class="all-in-one-accessibility-wrap" id="display">
        <div class="accessibility-settings">
            <div class="allinoneaccessibility-field-wrapper all-one-accessibility-form">
                <div class="all-one-accessibility-form-inner">
                    <div class="row">
{#                        <div id="discount_banner"></div>#}
                        {% set id_input_license_key = id ~ '_license_key' %}
                        {% set id_input_color = id ~ '_color' %}
                        {% set id_input_isvalid_key = id ~ '_isvalid_key' %}
                        <div class="col-12 form-group allinoneaccessibility-field-long common-class">
                            <label for="{{ id_input_license_key }}">License Key:</label>
                            <input type="text" class="form-control" id="{{ id_input_license_key }}" name="{{ id_input_license_key }}"
                                   placeholder="Enter License Key" value="{{ parsed_value.license_key|default() }}" onkeyup="mylicensekey(this.value)"
                            >
                            <input type="hidden" class="form-control" id="{{ id_input_isvalid_key }}" name="{{ id_input_isvalid_key }}"
                                   placeholder="Enter License Key" value="{{ parsed_value.isvalid_key|default() }}"
                            >
                            <div class="col-12">
                                <div style="margin-top: 5px;">
                                    <span id="invalid_key_msg" style="color: red;display:none">Key is Invalid!</span>
                                    <p id="license_key_msg">
                                        <strong>Please </strong><a href="https://ada.skynettechnologies.us/trial-subscription?utm_source=#Website-domain#&utm_medium=bolt-plugin&utm_campaign=trial-subscription" target="_blank">Upgrade</a> <strong>to full version of All in One Accessibility Pro.</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group allinoneaccessibility-field-long common-class">
                            <label for="{{ id_input_color }}">Color Code:</label>
                            <input type="text" class="form-control" id="{{ id_input_color }}" name="{{ id_input_color }}"
                                   placeholder="Color Code" value="{{ parsed_value.color|default() }}"
                            >
                        </div>
                        {% set id_input_position = id ~ '_position' %}
                        {% set id_position_tl = id ~ '_position_tl' %}
                        {% set id_position_tc = id ~ '_position_tc' %}
                        {% set id_position_tr = id ~ '_position_tr' %}
                        {% set id_position_bl = id ~ '_position_bl' %}
                        {% set id_position_br = id ~ '_position_br' %}
                        {% set id_position_bc = id ~ '_position_bc' %}
                        {% set id_position_ml = id ~ '_position_ml' %}
                        {% set id_position_mr = id ~ '_position_mr' %}
                        <div class="col-12 form-group allinoneaccessibility-field-long common-class">
                            <label for="{{ id_input_position }}">Icon Position:</label>
                            <div class="col-sm-10">
                                <div style="font-weight: bold">
                                    Where would you like to place the accessibility icon on your site?
                                </div>
                            </div>
                            <div class="col-sm-12 three-col">
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_tl }}" value="top_left"  class="custom-control-input" {% if parsed_value.position =='top_left' %} checked {% endif %}>
                                <label for="{{ id_position_tl }}" style="font-weight:normal !important">Top left</label><br>
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_tc }}" value="top_center" class="custom-control-input" {% if parsed_value.position =='top_center' %} checked {% endif %}>
                                <label for="{{ id_position_tc }}" style="font-weight:normal !important">Top Center</label><br>
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_tr }}" value="top_right" class="custom-control-input"{% if parsed_value.position =='top_right' %} checked {% endif %}>
                                <label for="{{ id_position_tr }}" style="font-weight:normal !important">Top Right</label><br>
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_bl }}" value="bottom_left" class="custom-control-input" {% if parsed_value.position =='bottom_left' %} checked {% endif %}>
                                <label for="{{ id_position_bl }}" style="font-weight:normal !important">Bottom left</label><br>
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_br }}" value="bottom_right" class="custom-control-input" {% if parsed_value.position =='bottom_right' %} checked {% endif %}>
                                <label for="{{ id_position_br }}" style="font-weight:normal !important">Bottom Right</label><br>
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_bc }}" value="bottom_center" class="custom-control-input" {% if parsed_value.position =='bottom_center' %} checked {% endif %}>
                                <label for="{{ id_position_bc }}" style="font-weight:normal !important">Bottom Center</label><br>
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_ml }}" value="middel_left" class="custom-control-input" {% if parsed_value.position =='middel_left' %} checked {% endif %}>
                                <label for="{{ id_position_ml }}" style="font-weight:normal !important">Middle left</label><br>
                                <input type="radio" name="{{ id_input_position }}" id="{{ id_position_mr }}" value="middel_right" class="custom-control-input" {% if parsed_value.position =='middel_right' %} checked {% endif %}>
                                <label for="{{ id_position_mr }}" style="font-weight:normal !important">Middle Right</label><br>
                            </div>
                        </div>
                        {% set id_input_icontype = id ~ '_icontype ' %}
                        {% set id_icon_type_1 = id ~ '_icon_type_1' %}
                        {% set id_icon_type_2 = id ~ '_icon_type_2' %}
                        {% set id_icon_type_3 = id ~ '_icon_type_3' %}
                        {% set allinoneaccessibility_icon_type = id ~ '_allinoneaccessibility_icon_type' %}
                        <div class="col-12 icon-type-wrapper row common-class" id="icon_type">
                            <label class="fcol-sm-12 col-form-label" for="{{ id_input_icontype }}">Select icon type:</label>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_icon_type_1 }}" name="{{ allinoneaccessibility_icon_type }}" value="aioa-icon-type-1" class="form-radio"
                                                    {% if parsed_value.icon_type=='aioa-icon-type-1' %} checked {% endif %}>
                                            <label for="{{ id_icon_type_1 }}" class="option">
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-1.svg" width="65" height="65" id="aioa-icon-type-1-img" style="margin: auto"/>
                                                <span class="visually-hidden">Type 1</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_icon_type_2 }}" name="{{ allinoneaccessibility_icon_type }}" value="aioa-icon-type-2" class="form-radio" {% if parsed_value.icon_type=='aioa-icon-type-2' %} checked {% endif %}>

                                            <label for="{{ id_icon_type_2 }}" class="option" >
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-2.svg" width="65" height="65" id="aioa-icon-type-2-img" style="margin: auto"/>
                                                <span class="visually-hidden">Type 2</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_icon_type_3 }}" name="{{ allinoneaccessibility_icon_type }}" value="aioa-icon-type-3" class="form-radio" {% if parsed_value.icon_type=='aioa-icon-type-3' %} checked {% endif %}>
                                            <label for="{{ id_icon_type_3 }}" class="option" >
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-3.svg" width="65" height="65" id="aioa-icon-type-2-img" style="margin: auto"/>
                                                <span class="visually-hidden">Type 3</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set id_input_iconsize = id ~ '_iconsize ' %}
                        {% set id_big_icon = id ~ '_big_icon' %}
                        {% set id_middle_icon = id ~ '_middle_icon' %}
                        {% set id_default_icon = id ~ '_default_icon' %}
                        {% set id_small_icon = id ~ '_small_icon' %}
                        {% set id_extra_small_icon = id ~ '_extra_small_icon' %}
                        {% set aioa_icon_size = id ~ '_aioa_icon_size' %}

                        <div class="col-12 icon-size-wrapper row" id="icon_size">
                            <label class="fcol-sm-12 col-form-label" for="{{ id_input_iconsize }}">Select icon size:</label>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_big_icon }}" name="{{ aioa_icon_size }}" value="aioa-big-icon" class="form-radio" {% if parsed_value.icon_size=='aioa-big-icon' %} checked {% endif %}>
                                            <label for="{{ id_big_icon }}" class="option" >
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-1.svg" width="75" height="75" style="margin: auto" class="icon-img"/>
                                                <span class="visually-hidden">Big</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_middle_icon }}" name="{{ aioa_icon_size }}" value="aioa-medium-icon" class="form-radio" {% if parsed_value.icon_size=='aioa-medium-icon' %} checked {% endif %}>
                                            <label for="{{ id_middle_icon }}" class="option" >
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-1.svg" width="65" height="65" style="margin: auto" class="icon-img"/>
                                                <span class="visually-hidden">Medium</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_default_icon }}" name="{{ aioa_icon_size }}" value="aioa-default-icon" class="form-radio" {% if parsed_value.icon_size=='aioa-default-icon' %} checked {% endif %}>
                                            <label for="{{ id_default_icon }}" class="option" >
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-1.svg" width="55" height="55" style="margin: auto" class="icon-img"/>
                                                <span class="visually-hidden">Default</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_small_icon }}" name="{{ aioa_icon_size }}" value="aioa-small-icon" class="form-radio" {% if parsed_value.icon_size=='aioa-small-icon' %} checked {% endif %}>
                                            <label for="{{ id_small_icon }}" class="option" >
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-1.svg" width="45" height="45" style="margin: auto" class="icon-img"/>
                                                <span class="visually-hidden">Small</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-30">
                                        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-position form-item-position">
                                            <input type="radio" id="{{ id_extra_small_icon }}" name="{{ aioa_icon_size }}" value="aioa-extra-small-icon" class="form-radio" {% if parsed_value.icon_size=='aioa-extra-small-icon' %} checked {% endif %}>
                                            <label for="{{ id_extra_small_icon }}" class="option" >
                                                <img src="https://skynettechnologies.com/sites/default/files/python/aioa-icon-type-1.svg" width="35" height="35" style="margin: auto" class="icon-img"/>
                                                <span class="visually-hidden">Extra Small</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
